@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LABORATORIO 3</h1>
    <p class="lead">Laboratorio realizado con la estructura tipo Arbol AVL.</p>
    <p>De click para ir al modulo de partidos: </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Partidos</h2>
        @Html.ActionLink("Partidos", "Index", "Partido")
    </div>
    
</div>