@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LABORATORIO 3</h1>
    <p class="lead">Laboratorio realizado con la estructura tipo Arbol AVL.</p>
    <p>De click para ir al modulo de partidos: </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Escoja la clave: </h2>
        <form action="" method="post">
            <input type="submit" value="Numero de Partidos" name="action:Index" />
            <input type="submit" value="Fecha de Partidos" name="action:Index" />
        </form>
    </div>
    
</div>